* {
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    
}

body {
    margin: 0;
    background-image: url('assets/pattern.png');
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

header{
    display: flex;
    justify-content: center;
}
h2{
    margin-top: 3em;
}
.logo {
    height: 100px;
    margin: 2em;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.home_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
}

textarea{
    margin: 0.5em;
    padding: 1em;
    width: 19em;
    height: 5em;
    border-radius: 0.5em;
    border: none;
    background-color: #F2E8C6;
}

hr {
    width: 90%;
    noshade: noshade;
    border-color: black;
}

button{

    height: 2.5em;
    width: 17.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    align-items: center;
    margin-top: 2em;
    background-color: #BB0029;
    border-radius: 0.5em;
    border: none;
    color: azure;
}

.eyePassword{
    margin: 1px;
    width: 3em;
    height: 2em;
}

textArea{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20em;
    height: 8em;

}


.login_style {
    width: 10em;
    height: 2.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    margin: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    background-color: #03002C;
    border-radius: 0.5em;
    border: none;
}

.login_style:hover{
    background-color: #5c588d;
}


a {
    margin-top: 3em;
    
}

.wall-button{
    color: none;
    border: none;
    text-align: center;
}

.home-wall{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.home-posts{
    display: flex;
    height: 75%;
    text-align: center;
    
}

.home-menu{
    display: flex;
    text-align: center;
    width: 15em;
    height: 6em;
    margin: none;

}

.posts {
    background-color: #F2E8C6;
    margin: 2em;
    border-radius: 1em;
    padding: 1em;
}

.postDiv{
    margin: 1.1em;
    
    border-radius: 1.1em;
}
.writePost{
    margin 3em;
    padding: 2em;
}

.divModalContainer {
    
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.divModalContainer .divModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 10px solid #58abb7;
    width: 60%;
}

.modalContainer .spanModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.divModalContainer .spanModal:hover,
.modalContainer .spanModal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 1024px) {

    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo{
        height: 150px;
    }

    .home{
        padding: 2em;
        margin: 1em;
        background-color: rgba(255, 255, 255, 0.1);
        width: 40em;
        border: none;
        box-sizing: border-box;
        box-shadow: 8px 7px 7px 7px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }

}

