* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url('assets/pattern.png');
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

header{
    display: flex;
    justify-content: center;
}

.logo {
    height: 100px;
    margin: 2em;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


 .home_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
   
}

input{
    margin: 0.5em;
    padding: 1em;
    width: 19em;
    border-radius: 0.5em;
    border: none;
    background-color: #F2E8C6;
}

button{

    height: 2.5em;
    width: 17.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 2em;
    background-color: #BB0029;
    border-radius: 0.5em;
    border: none;
    color: azure;
}
.buttonLogOut{
    display: flex;
    justify-content: center;
    width: 6em;
    padding: 1px;
    flex-direction: column;
    align-items: center;
    margin-top: 17em;
}
.buttonSubmit{
    width: 10em;
    margin-top: 0.75em;
}

textArea{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20em;
    height: 8em;

}


.login_style {
    width: 10em;
    height: 2.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: white;
    text-align: center;
    margin: 0.5em;
    margin-top: 2em;
    background-color: #03002C;
    border-radius: 0.5em;
    border: none;
}

.login_style:hover{
    background-color: #5c588d;
}


a {
    margin-top: 3em;
    
}

@media (min-width: 1024px) {

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8em;
    }

    .logo{
        height: 150px;
    }

    .home{
        margin: 3em;
        padding: 2em;
        background-color: rgba(255, 255, 255, 0.1);
        width: 40em;
        border: none;
        box-sizing: border-box;
        box-shadow: 8px 7px 7px 7px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }
    
}
